In [126]:
import numpy as np
import pandas as pd

## Junção de bases

In [2]:
dados_imoveis = pd.read_csv("Downloads/dados_imoveis_csv/dados_big_data_exec.csv")
dados_complementares = pd.read_csv("Downloads/dados_apf_csv/dados_apf.csv")

C:\Users\felip\AppData\Local\Temp\ipykernel_6360\968718987.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_imoveis = pd.read_csv("Downloads/dados_imoveis_csv/dados_big_data_exec.csv")
C:\Users\felip\AppData\Local\Temp\ipykernel_6360\968718987.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_complementares = pd.read_csv("Downloads/dados_apf_csv/dados_apf.csv")

In [3]:
dados_imoveis.head(2)

,Classe,RIP Imóvel,Nº/RIP Utilização,Data do Cadastro do Imóvel,UF,Município,Endereço,Bairro,Latitude,Longitude,Nível de Precisão,Conceituação do Terreno,Tipo de Imóvel,Regime de Utilização,Proprietário Oficial,Data Início da Utilização,Área do Terreno (m²),Área da União (m²)
0,Uso Especial,1002675003,0001002685009,2021-07-29,RO,Guajara-Mirim,GLB GLEBA COMARA - FIGURA 01 SN GLEBA COMARA -...,ZONA RURAL,"-10,7742780232","-65,3244909",Geocodificado – Município encontrado,Nacional Interior,Gleba,Em Processso de Destinação,Fundação ou Autarquia (Adm. Pub. Fed. indireta),-,98400,98400
1,Uso Especial,1002695004,0001002705000,2021-07-29,RO,Guajara-Mirim,GLB GLEBA COMARA - FIGURA 2 SN GLEBA COMARA - ...,ZONA RURAL,"-10,7742780232","-65,3244909",Geocodificado – Município encontrado,Nacional Interior,Gleba,Em Processso de Destinação,Fundação ou Autarquia (Adm. Pub. Fed. indireta),-,1550300,1550300

In [4]:
dados_complementares.head(2)

,UF,Município,RIP Imóvel,Nº/RIP Utilização,Endereço,Bairro,CEP,Natureza do Terreno,Matrícula,Nome do Cartório,...,Código da UG,Unidade Gestora,Data do Cadastro do Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Valor Contabilizado (R$),Área Construída (m²),Latitude,Longitude,Nível de Precisão
0,AC,Acrelandia,643000015000,0643000025005,AV Quaddra 0816 Lote 03,Centro,69945000,Urbano,00000002,REGISTRO DE IMÓVEIS 1ºTÓRIO DE IMÓVEIS DE ACRE...,...,255001,FUNDACAO NACIONAL DE SAUDE,03/06/2013,765,"114753,98","114753,98","148,29","-10,079425","-67,053972",Sistemas da SPU
1,AC,Acrelandia,643000035000,0643000045006,"FAZ Área de Terra, localizada no Município de ...",ZONA RURAL,69945000,Urbano,283,Registro de Imovel da Comarca de Senador Guiomard,...,373015,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA,16/05/2017,"24348,93",365233974,365233974,0,"-10,0764608","-67,0586512",Manual - No Município

In [5]:
dados = dados_imoveis.merge(dados_complementares[["RIP Imóvel", "Unidade Gestora", "Valor da Utilização (R$)", "Valor Contabilizado (R$)", "Área Construída  (m²)", "Unidade Gestora"]], on="RIP Imóvel")

In [6]:
dados.columns

Index(['Classe', 'RIP Imóvel', 'Nº/RIP Utilização',
       'Data do Cadastro do Imóvel', 'UF', 'Município', 'Endereço', 'Bairro',
       'Latitude', 'Longitude', 'Nível de Precisão', 'Conceituação do Terreno',
       'Tipo de Imóvel', 'Regime de Utilização', 'Proprietário Oficial',
       'Data Início da Utilização', 'Área do Terreno (m²)',
       'Área da União (m²)', 'Unidade Gestora', 'Valor da Utilização (R$)',
       'Valor Contabilizado (R$)', 'Área Construída  (m²)', 'Unidade Gestora'],
      dtype='object')

In [7]:
dados.sample(n=100).to_csv("sample_base_de_dados_SPU.csv", index=False)

## Seleção de colunas

In [8]:
dados.columns

Index(['Classe', 'RIP Imóvel', 'Nº/RIP Utilização',
       'Data do Cadastro do Imóvel', 'UF', 'Município', 'Endereço', 'Bairro',
       'Latitude', 'Longitude', 'Nível de Precisão', 'Conceituação do Terreno',
       'Tipo de Imóvel', 'Regime de Utilização', 'Proprietário Oficial',
       'Data Início da Utilização', 'Área do Terreno (m²)',
       'Área da União (m²)', 'Unidade Gestora', 'Valor da Utilização (R$)',
       'Valor Contabilizado (R$)', 'Área Construída  (m²)', 'Unidade Gestora'],
      dtype='object')

In [9]:
colunas = ['Classe', 'RIP Imóvel',
       'Data do Cadastro do Imóvel', 'UF', 'Município', 'Endereço', 'Bairro',
       'Latitude', 'Longitude', 'Conceituação do Terreno',
       'Tipo de Imóvel', 'Regime de Utilização', 'Proprietário Oficial',
       'Data Início da Utilização', 'Área do Terreno (m²)',
       'Área da União (m²)', 'Valor da Utilização (R$)',
       'Valor Contabilizado (R$)', 'Área Construída  (m²)']

colunas_numericas = ['Área do Terreno (m²)',
       'Área da União (m²)', 'Valor da Utilização (R$)',
       'Valor Contabilizado (R$)', 'Área Construída  (m²)'] 

colunas_datas = ['Data do Cadastro do Imóvel', 'Data Início da Utilização']

#'Latitude', 'Longitude'

## Transformações dos dados

In [10]:
dados.dropna(inplace=True)

In [11]:
for c in colunas_numericas:
    dados[c] = pd.to_numeric(dados[c].str.replace(",", "."))

In [12]:
for c in colunas_datas:
    dados[c] = pd.to_datetime(dados[c], errors='coerce')

C:\Users\felip\AppData\Local\Temp\ipykernel_6360\3421052545.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dados[c] = pd.to_datetime(dados[c], errors='coerce')

In [13]:
dados[['Valor da Utilização (R$)',
       'Valor Contabilizado (R$)']].describe()

       Valor da Utilização (R$)  Valor Contabilizado (R$)
count              1.707500e+04              1.707500e+04
mean               2.063835e+07              7.178635e+07
std                4.478724e+08              3.633317e+08
min                0.000000e+00              0.000000e+00
25%                1.547154e+05              4.272331e+05
50%                4.034915e+05              3.931527e+07
75%                1.380551e+06              9.286749e+07
max                4.771466e+10              1.679302e+10

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17075 entries, 0 to 17075
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Classe                      17075 non-null  object
 1   RIP Imóvel                  17075 non-null  int64
 2   Nº/RIP Utilização           17075 non-null  object
 3   Data do Cadastro do Imóvel  17075 non-null  datetime64[ns]
 4   UF                          17075 non-null  object
 5   Município                   17075 non-null  object
 6   Endereço                    17075 non-null  object
 7   Bairro                      17075 non-null  object
 8   Latitude                    17075 non-null  object
 9   Longitude                   17075 non-null  object
 10  Nível de Precisão           17075 non-null  object
 11  Conceituação do Terreno     17075 non-null  object
 12  Tipo de Imóvel              17075 non-null  object
 13  Regime de Utilização        17075 non-null  object
 14  Proprietário Oficial        17075 non-null  object
 15  Data Início da Utilização   15102 non-null  datetime64[ns]
 16  Área do Terreno (m²)        17075 non-null  float64
 17  Área da União (m²)          17075 non-null  float64
 18  Unidade Gestora             17075 non-null  object
 19  Valor da Utilização (R$)    17075 non-null  float64
 20  Valor Contabilizado (R$)    17075 non-null  float64
 21  Área Construída  (m²)       17075 non-null  float64
 22  Unidade Gestora             17075 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(15)
memory usage: 3.1+ MB

## Separação de tabelas

In [21]:
dados.head(3)

,Classe,RIP Imóvel,Nº/RIP Utilização,Data do Cadastro do Imóvel,UF,Município,Endereço,Bairro,Latitude,Longitude,...,Regime de Utilização,Proprietário Oficial,Data Início da Utilização,Área do Terreno (m²),Área da União (m²),Unidade Gestora,Valor da Utilização (R$),Valor Contabilizado (R$),Área Construída (m²),Unidade Gestora
0,Uso Especial,1002675003,0001002685009,2021-07-29,RO,Guajara-Mirim,GLB GLEBA COMARA - FIGURA 01 SN GLEBA COMARA -...,ZONA RURAL,"-10,7742780232","-65,3244909",...,Em Processso de Destinação,Fundação ou Autarquia (Adm. Pub. Fed. indireta),NaT,98400.0,98400.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA,73628.13,73628.13,0.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA
1,Uso Especial,1002695004,0001002705000,2021-07-29,RO,Guajara-Mirim,GLB GLEBA COMARA - FIGURA 2 SN GLEBA COMARA - ...,ZONA RURAL,"-10,7742780232","-65,3244909",...,Em Processso de Destinação,Fundação ou Autarquia (Adm. Pub. Fed. indireta),NaT,1550300.0,1550300.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA,1160017.14,1160017.14,0.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA
2,Uso Especial,1002715005,0001002725000,2021-07-29,RO,Guajara-Mirim,GLB GLEBA COMARA - MINISTÉRIO DA AERONÁUTICA S...,ZONA RURAL,"-10,7742780232","-65,3244909",...,Em Processso de Destinação,Fundação ou Autarquia (Adm. Pub. Fed. indireta),NaT,8512647.0,8512647.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA,6369616.49,6369616.49,0.0,INSTIT. NAC. DE COLONIZACAO E REFORMA AGRARIA

### Dimensões

In [134]:
dConceituacao = dados[["Conceituação do Terreno"]].drop_duplicates().reset_index(drop=True).rename(columns={"Conceituação do Terreno":"conceituacao_terreno"})
dTipo = dados[["Tipo de Imóvel"]].drop_duplicates().reset_index(drop=True).rename(columns={"Tipo de Imóvel":"tipo"})
dClasse = dados[["Classe"]].drop_duplicates().reset_index(drop=True).rename(columns={"Classe":"classe"})
dRegime = dados[["Regime de Utilização"]].drop_duplicates().reset_index(drop=True).rename(columns={"Regime de Utilização":"regime"})
dProprietario = dados[["Proprietário Oficial"]].drop_duplicates().reset_index(drop=True).rename(columns={"Proprietário Oficial":"proprietario"})

In [135]:
# Endereço: Bairro,Cidade,UF,Loc
colunas_loc = ['UF', 'Município', 'Endereço', 'Bairro',
       'Latitude', 'Longitude']
locais_map = dados[colunas_loc].apply(lambda row: '; '.join(row.values.astype(str)), axis=1)

In [136]:
dados['Latitude'] = dados['Latitude'].replace('-', np.nan)
dados['Longitude'] = dados['Longitude'].replace('-', np.nan)
dados.dropna(inplace=True)
dados["local"] = locais_map

In [137]:
dLocal = dados[colunas_loc]

In [138]:
dLocal["local"] = locais_map

C:\Users\felip\AppData\Local\Temp\ipykernel_6360\3335955860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dLocal["local"] = locais_map

In [139]:
dLocal = dLocal.drop_duplicates("local").reset_index(drop=True)

In [140]:
dLocal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3609 entries, 0 to 3608
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UF         3609 non-null   object
 1   Município  3609 non-null   object
 2   Endereço   3609 non-null   object
 3   Bairro     3609 non-null   object
 4   Latitude   3609 non-null   object
 5   Longitude  3609 non-null   object
 6   local      3609 non-null   object
dtypes: object(7)
memory usage: 197.5+ KB

In [141]:
datas = dados[["Data Início da Utilização", "Data do Cadastro do Imóvel"]].drop_duplicates()
datas.dropna(inplace=True)

In [142]:
datas["Data Início da Utilização"].min()

Timestamp('1946-01-01 00:00:00')

In [143]:
datas["Data Início da Utilização"].max()

Timestamp('2024-12-06 00:00:00')

In [144]:
datas["Data do Cadastro do Imóvel"].min()

Timestamp('2020-01-04 00:00:00')

In [145]:
datas["Data do Cadastro do Imóvel"].max()

Timestamp('2022-12-09 00:00:00')

In [146]:
dCalendario = pd.DataFrame({
    'data': pd.date_range(start='1946-01-01 00:00:00', end='2024-12-09 00:00:00', freq='D')
})
dCalendario

            data
0     1946-01-01
1     1946-01-02
2     1946-01-03
3     1946-01-04
4     1946-01-05
...          ...
28828 2024-12-05
28829 2024-12-06
28830 2024-12-07
28831 2024-12-08
28832 2024-12-09

[28833 rows x 1 columns]

In [171]:
dict_map_conceituacao = {v: k for k, v in dConceituacao.to_dict().get(dConceituacao.columns[0]).items()}
dict_map_regime = {v: k for k, v in  dRegime.to_dict().get(dRegime.columns[0]).items()}
dict_map_prop = {v: k for k, v in  dProprietario.to_dict().get(dProprietario.columns[0]).items()}
dict_map_classe= {v: k for k, v in  dClasse.to_dict().get(dClasse.columns[0]).items()}
dict_map_tipo = {v: k for k, v in  dTipo.to_dict().get(dTipo.columns[0]).items()}
dict_map_local = {v: k for k, v in  dLocal["local"].to_dict().items()}

In [172]:
dict_map_conceituacao

{'Nacional Interior': 0,
 'Não Informado': 1,
 'Terra Indigena': 2,
 'Superfície Contígua de Água Exposta': 3,
 'Marinha com Acrescido': 4,
 'Marinha com Nacional Interior': 5,
 'Acrescido de Marinha': 6,
 'Marginal de Rio': 7,
 'Marinha': 8}

In [173]:
dict_map_prop

{'União (Adm. Pub. Fed. direta)': 0,
 'Fundação ou Autarquia (Adm. Pub. Fed. indireta)': 1,
 'Outros': 2,
 'Empresa Estatal dependente (Adm. Pub. Fed. indireta)': 3}

In [174]:
dict_map_regime

{'Em Processso de Destinação': 0,
 'Uso próprio em serviço público': 1,
 'Locação De Terceiros': 2,
 'Sem Destinação Definida': 3,
 'Entrega': 4,
 'Cessão de uso onerosa/em condições especiais': 5,
 'Cessão de uso\xa0gratuita': 6,
 'Locação Para Terceiros': 7,
 'Usufruto Indígena': 8,
 'Guarda Provisória': 9,
 'Comodato': 10}

In [175]:
dict_map_classe

{'Uso Especial': 0}

In [178]:
dict_map_tipo

{'Edifício / Prédio': 0,
 'Terreno': 1,
 'Casa': 2,
 'Outros': 3,
 'Gleba': 4,
 'Parque': 5,
 'Fazenda': 6,
 'Galpão': 7,
 "Espelho D'Água": 8,
 'Laboratório': 9,
 'Escola': 10,
 'Hospital': 11,
 'Residência': 12,
 'Apartamento': 13,
 'Autarquia / Fundação': 14,
 'Conjunto': 15,
 'Armazém': 16,
 'Ilha (ilhota)': 17,
 'Sala': 18,
 'Estação': 19,
 'Aeroporto': 20,
 'Reserva': 21,
 'Universidade': 22,
 'Base': 23,
 'Porto': 24,
 'Marina': 25,
 'Biblioteca': 26,
 'Via Férrea': 27,
 'Usina': 28,
 'Delegacia': 29,
 'Quartel': 30,
 'Pátio Ferroviário': 31,
 'Estacionamento': 32,
 'Complexo': 33,
 'Loja': 34,
 'Açude': 35,
 'Cais': 36,
 'Represa': 37,
 'Presídio': 38,
 'Garagens': 39,
 'Teatro': 40,
 'Fábrica': 41,
 'Estádio': 42,
 'Pier': 43,
 'Museu': 44,
 'Faculdade': 45,
 'Cemitério': 46,
 'Alfândega': 47,
 'Posto de Fiscalização': 48,
 'Embaixada': 49}

### Fato

In [201]:
fTerreno = dados[[
       'Data do Cadastro do Imóvel', "local", 'Conceituação do Terreno',
       'Tipo de Imóvel', 'Regime de Utilização', 'Proprietário Oficial',
       'Data Início da Utilização', 'Área do Terreno (m²)',
       'Área da União (m²)', 'Valor da Utilização (R$)',
       'Valor Contabilizado (R$)', 'Área Construída  (m²)']]

In [202]:
novo_nome_colunas = {
    'Data do Cadastro do Imóvel': 'id_data_cadastro',
    'local': 'id_local',
    'Conceituação do Terreno': 'id_conceituacao',
    'Tipo de Imóvel': 'id_tipo',
    'Regime de Utilização': 'id_regime',
    'Proprietário Oficial': 'id_proprietario',
    'Data Início da Utilização': 'id_data_utilizacao',
    'Área do Terreno (m²)': 'area_terreno',
    'Área da União (m²)': 'area_uniao',
    'Valor da Utilização (R$)': 'valor_utilizacao',
    'Valor Contabilizado (R$)': 'valor_contabilizado',
    'Área Construída  (m²)': 'area_construida'
}

# Renomeando as colunas
fTerreno.rename(columns=novo_nome_colunas, inplace=True)
fTerreno.reset_index(drop=True, inplace=True)

C:\Users\felip\AppData\Local\Temp\ipykernel_6360\1857907990.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.rename(columns=novo_nome_colunas, inplace=True)

In [203]:
fTerreno.head(1)

,id_data_cadastro,id_local,id_conceituacao,id_tipo,id_regime,id_proprietario,id_data_utilizacao,area_terreno,area_uniao,valor_utilizacao,valor_contabilizado,area_construida
0,2020-07-30,RO; Porto Velho; R JOAO ALFREDO 174 TERMINAL P...,Nacional Interior,Edifício / Prédio,Em Processso de Destinação,União (Adm. Pub. Fed. direta),2017-05-09,2892.57,2892.57,1366277.31,1366277.31,826.0

In [204]:
fTerreno.id_local = fTerreno.id_local.map(dict_map_local)
fTerreno.id_conceituacao = fTerreno.id_conceituacao.map(dict_map_conceituacao)
fTerreno.id_tipo = fTerreno.id_tipo.map(dict_map_tipo)
fTerreno.id_regime = fTerreno.id_regime.map(dict_map_regime)
fTerreno.id_proprietario = fTerreno.id_proprietario.map(dict_map_prop)

C:\Users\felip\AppData\Local\Temp\ipykernel_6360\2327326580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.id_local = fTerreno.id_local.map(dict_map_local)
C:\Users\felip\AppData\Local\Temp\ipykernel_6360\2327326580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.id_conceituacao = fTerreno.id_conceituacao.map(dict_map_conceituacao)
C:\Users\felip\AppData\Local\Temp\ipykernel_6360\2327326580.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.id_tipo = fTerreno.id_tipo.map(dict_map_tipo)
C:\Users\felip\AppData\Local\Temp\ipykernel_6360\2327326580.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.id_regime = fTerreno.id_regime.map(dict_map_regime)
C:\Users\felip\AppData\Local\Temp\ipykernel_6360\2327326580.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fTerreno.id_proprietario = fTerreno.id_proprietario.map(dict_map_prop)

In [206]:
fTerreno.sample(n=10)

,id_data_cadastro,id_local,id_conceituacao,id_tipo,id_regime,id_proprietario,id_data_utilizacao,area_terreno,area_uniao,valor_utilizacao,valor_contabilizado,area_construida
2915,2022-02-16,2475,0,1,1,0,2022-02-15,1656.00,1656.00,5796.00,5796.00,0.00
12535,2020-05-11,3604,0,10,1,1,1994-01-01,2044000.00,2044000.00,235819.29,39315266.82,86.84
73,2021-11-05,15,0,9,3,0,2021-11-05,893.46,893.46,1280700.00,1280700.00,466.04
1256,2022-06-05,989,0,18,3,0,2022-06-05,1350.00,1350.00,199731.68,199731.68,45.10
8059,2020-11-23,2777,0,10,1,0,2022-02-23,270492.00,270492.00,129852.10,6941022.23,90.00
8980,2021-07-06,3256,3,8,5,0,2021-09-24,8296761.05,8296761.05,324983.44,97818812.78,0.00
3816,2021-10-14,2753,0,45,1,1,1980-02-07,902833.00,902833.00,1303464.01,92867488.88,326.81
5812,2021-10-14,2753,0,45,1,1,1988-02-07,902833.00,902833.00,285342.66,92867488.88,53.63
10398,2020-05-11,3604,0,10,1,1,2000-01-01,2044000.00,2044000.00,123094.51,39315266.82,179.10
10632,2020-05-11,3604,0,10,1,1,1994-01-01,2044000.00,2044000.00,237542.39,39315266.82,171.35

## Exportação das bases

In [208]:
dLocal.drop(["local"], axis=1, inplace=True)

In [218]:
dLocal.Latitude = dLocal.Latitude.str.replace(",", ".")
dLocal.Longitude = dLocal.Longitude.str.replace(",", ".")

In [219]:
dLocal

,UF,Município,Endereço,Bairro,Latitude,Longitude
0,RO,Porto Velho,R JOAO ALFREDO 174 TERMINAL PESQUEIRO - P.VELHO,BAIXA UNIAO,-8.76907578741759,-63.9079873682225
1,RO,Porto Velho,AV LAURO SODRE 3020,COSTA E SILVA,-8.73250681311773,-63.9009529076672
2,RO,Ji-Parana,R DOS SERINGUEIROS 219,JARDIM DOS MIGRANTES,-10.8773580376453,-61.9616413543423
3,RO,Cacoal,AV SETE DE SETEMBRO 2831,CENTRO,-11.4363749,-61.4454398
4,RR,Pacaraima,A Terra Indígena São Marcos s/nº Parte da Terr...,-,4.4749363536,-61.1478147341
...,...,...,...,...,...,...
3604,SC,Santa Rosa do Sul,R DAS ROSAS S/N,VILA NOVA,-29.1357382475032,-49.7185448975031
3605,PR,Santa Tereza do Oeste,CH Santa Tereza s/n Chácara Urbana nº 74-A-1,Santa Tereza,-25.0559159,-53.621933
3606,PR,Santa Tereza do Oeste,CH Santa Tereza s/n Chácara Urbana nº 74-A-2,Santa Tereza,-25.0559159,-53.621933
3607,SC,Itapoa,AV Beira Mar 5 s/n Cessao PMI - galpao pesca,Pontal,-26.1703405109,-48.5847341564
3608,SC,Itapoa,R Bento Francisco da Silva sn Cessao PMI - gal...,Itapema do Norte,-26.0712762,-48.6056296

In [220]:
dCalendario.to_csv("dCalendario.csv", index=False)
dProprietario.to_csv("dProprietario.csv")
dTipo.to_csv("dTipo.csv")
dConceituacao.to_csv("dConceituacao.csv")
dLocal.to_csv("dLocal.csv")
dRegime.to_csv("dRegime.csv")
fTerreno.to_csv("fTerreno.csv", index=False)